@charset "utf-8";

/*base
-------------------------------------*/
body {
    color: #888;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
    letter-spacing: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* LAYOUT
------------------------*/
.l-inner {
    width: 88%;
    max-width: 800px;
    margin-left: auto;
    margin-left: auto;
}

.l-mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.l-mb4 {
    margin-bottom: 40px;
}

.l-mb6 {
    margin-bottom: 60px;
}

.l-py6 {
    padding-bottom: 60px;
}

/* flexbox */
.l-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}